* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SharpSans', arial, sans-serif;
}
body,html {
    height: 100%;
    width: 100%;    
    background-color: #FAF5EF;
}
.main_container{
  height: 100%;
  width: 100%;
  
  padding: 12px 30px 0px  30px;
}
/* header section  */
header{
  height: 13%;
  width: 100%;
  border-radius: 25px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1A1D20;

}
/* .website_logo_container  */
.website_logo_container{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  color: white; 
}
.website_logo{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.website_name{
  letter-spacing: 5px;
  font-weight: 700;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 25px;
}
/* website menu secyion  */
.menu_container{
  height: 80%;
  width: 40%;   
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.menu_ancher{
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-family: "Special Gothic", sans-serif;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  
}
/* search and profile starts from here  */
.search_container{
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.search_logo_and_searchtext_cont{
  height: 80%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.search_logo_image{
  height: 80%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #FAF5EF; 
  cursor: pointer; 
  border-radius: 80px 0px 0px 80px;
}
.search_text{
  height: 74%;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 80px;
  
}
.three_lines_menu_container{  
  height: 60%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.three_lines_menu_button{
  display: inline-block;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/icons/profile-picture.png);
  background-position: center;background-size: contain;
  background-repeat: no-repeat;
  background-position: right 15PX center;
}
/* container 2 starts fromhere  */
.container2{
  height: 60%;
  width: 100%;
  border-radius: 25px;
  background-image: url(assets/images/homepageimages/Gemini_Generated_Image_1g668a1g668a1g66.jpg);
  background-position: center;
  background-color: rgb(13, 71, 71);
  margin-top: 1.3% ;
  display: flex;
  position: relative;
  background-repeat: no-repeat;
}
.boxes_container{
  height: 70%;
  width: 60%;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 5%;
  justify-content: center;

}
.tag_line_box{
  font-family: "Domine", serif;
  height: 65%;
  width: 70%;
  font-size: 60px;
  font-weight: 900;
  color: white;
  
}
.button_of_video{
  height: 20%;
  width: 16%;
  color: black;
  font-size: 17px;
  border-radius: 20px;
  border: none;
  background-color:  #45A29E;
}

.second_box_containre{
  height: 15%;
  width: 30%;
  display: flex;
  align-items: start;
  justify-content: end;
  position: absolute;
  margin-left: 70.2%;
  border-radius: 3px 0px 0px  29px;
  gap: 10px;
  background-color: #FAF5EF;
}
.boxes {
  height: 78%;
  width: 31%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color:white;
  background-color:#1A1D20;
  display: flex;
  border-radius: 26px;
  justify-content: space-evenly;

}

/* container3 start from here  */
.container3{
  height: 35%; 
  width: 100%;
  margin-top: 1.3%;
  display: flex;
  justify-content: space-between;
  
}
.container3_box1{
  height: 100%;
  width: 46%;
  background-image: url(assets/images/homepageimages/smart_lock.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: end;
  
}
.cont3box{
  height: 100%;
  width: 50%;
  color: white;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 0px 20px 20px 0px;
  background-color:rgb(70, 70, 70);
  opacity: 80%;
}
.container3_box2{
  height: 100%;
  width: 25%;
  border-radius: 25px;
  background-image: url(assets/images/homepageimages/alexahome.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
}
.container3_box3{
  height: 100%;
  width: 25%;
  border-radius: 25px;
  background-image: url(assets/images/homepageimages/smartlights.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* second container  */
.second{
  height:100%;
  width: 100%;
  padding: 0px 20px 0px 20px ;
  margin-top: 4%;
}
.smart_light_background_banner{
  height: 44%;
  background-image: url(assets/images/homepageimages/smart\ light\ background\ img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;  
}
.all_products{
  height: 10%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;    
}
.All_Product{
  height: 60%;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid  lightgray ;
  background-color: white;
  border-radius: 16px;  
}

.All_Product a {
  color: black;
}
.products{
  height: 46%;
  width: 100%;
  display: flex;
  justify-content: space-between;  
}
.product_box{  
  height: 100%;
  width: 49.5%;
  display: flex;
  justify-content: space-between;
}
.product_box2{  
  height: 100%;
  width: 49.5%;
  justify-content: space-between;
  display: flex;
}
.product1{
  height: 100% ;
  width: 32%;  
}
.product1_backimg{
  height: 55%;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.product1_img_information{
  height: 45%;
  width: 100%;
  border:1px solid lightgrey;
  border-radius: 0px 0px 10px  10px;
}
.product1_img_information p {
  margin-top: 4px;
  margin-left: 10px;
}
.amount_product_cont{
  height: 20%;
  margin-top: 6px;
  margin-left: 10px;
  font-size: 18px;  
  margin-top: 8px;
}
.product_add_to_cart_cont{
  display: flex;
  height: 25%;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  justify-content: center;  
  cursor: pointer;
}
.product_add_to_cart_cont a{
  display: flex;
  justify-content: center;
  height : 100%;
  width:100%;
} 
.product1_img_information a {
  text-decoration: none;
  color: black;
}
.product_add_to_cart_button{
  height: 100%;
  width: 75%;
  font-size: 16px;
  border: 2px solid  gray ;
  border-radius: 11px;
  background-color: skyblue;
}
.product_add_to_cart_button :hover {
  background-color: rgb(108, 24, 24);
}
/* for background image of product created a ID element shortcut */
#product1_backimg1{
  background-image: url(assets/images/homepageimages/smart\ light\ product.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product1_backimg2{
  background-image: url(assets/images/homepageimages/letlammProduct.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product1_backimg3{
  background-image: url(assets/images/homepageimages/wallpanelsimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product1_backimg4{
  background-image: url(assets/images/homepageimages/ceilingimageproduct.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product1_backimg5{
  background-image: url(assets/images/homepageimages/switchproduct.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product1_backimg6{
  background-image: url(assets/images/homepageimages/smartswitchproduct.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* third page samrt lokk section / */
.third_smart_lock_section{
  height:100%;
  width: 100%;
  padding: 0px 20px 0px 20px ;
  margin-top: 2%;
  
}
.smart_lock_background_banner{
  height: 44%;
  background-image: url(assets/images/homepageimages/smartlock_productbanner\ .jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}
/* thord page smart lock prosucts images here  */
#product2_backimg1{
  background-image: url(assets/images/homepageimages/keypadsmartdeadboldimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product2_backimg2{
  background-image: url(assets/images/homepageimages/leverlockimage\ .jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product2_backimg3{
  background-image: url(assets/images/homepageimages/smartboltimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product2_backimg4{
  background-image: url(assets/images/homepageimages/biomatricfingerprintlockimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product2_backimg5{
  background-image: url(assets/images/homepageimages/keypad_external\ accessory.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product2_backimg6{
  background-image: url(assets/images/homepageimages/wifi\ Smart\ Deadbolt.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* fourth door sensor section page  */
.fourth_sensor_lock_section{
  height:100%;
  width: 100%;
  padding: 0px 20px 0px 20px ;
  margin-top: 2%;
  
}
.smart_sensor_background_banner{
  height: 44%;
  background-image: url(assets/images/homepageimages/smart_sensor_back_banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;  
}
 /* fouth sensor product images here  */
#product3_backimg1{
  background-image: url(assets/images/homepageimages/color_changing_smart_contact_sensor_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product3_backimg2{
  background-image: url(assets/images/homepageimages/recessedsensor_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product3_backimg3{
  background-image: url(assets/images/homepageimages/smart_vibration_and_open_sensor.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product3_backimg4{
  background-image: url(assets/images/homepageimages/Gate_sensorimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product3_backimg5{
  background-image: url(assets/images/homepageimages/sire_and_hub_kit_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product3_backimg6{
  background-image: url(assets/images/homepageimages/smart\ multipack\ image\ .jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}






/* styling animation and hover effects  */
.menu_ancher:hover{
  transform: translateY(-5px);
  background-color:rgb(73, 72, 72);
  padding: 0px 0px 20px 0px;
  border: 0px 0px 2px 0px solid rgb(10, 10, 204);
  height: 40%;
  width: auto;
  display: flex;
  justify-content: center;
  border-radius: 16px;            
}
.container3_box1{            
  border-radius: 16px;
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgba(255,255,255,0.05);
}
.container3_box1:hover {
  transform: translateY(-14px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);          
  }
.container3_box1{          
  border-radius: 16px;
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgba(255,255,255,0.05);
}
.container3_box1:hover {
  transform: translateY(-14px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);            
}
  .container3_box2{            
  border-radius: 16px;
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgba(255,255,255,0.05);
}
.container3_box2:hover {
  transform: translateY(-14px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.container3_box3{            
  border-radius: 16px;
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgba(255,255,255,0.05);
}
.container3_box3:hover {
  transform: translateY(-14px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);            
}
.cont3box {
  background: none;
  border-radius: 16px;
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* RESPONSIVE DESIGN STARTS FROM HERE   */
@media screen and (max-width: 900px){
/* header section starts from here  */

  .main_container{
    height: 100%;
    width: 100%;  
    padding: 10px;

  }
  header {
    height: 10%;
    width: 100%;
    
  }
  .menu_container{
    display: none;
    
  }
  .search_container{
    display: none;
  }
  .website_logo_container{
    height: 100%;
    width: 50%;
  }
  .website_logo_container
   .website_logo img {
    height: 35%;
  }
  .website_logo{
    justify-content: center;
  }
  .website_name{
    font-size: 18px;
    font-family: "Bricolage Grotesque", sans-serif;    
  }
/* container 2 starts from here   */
  .container2{
    height: 70%;
    background-image: url(assets/images/homepageimages/responsiveimageOF\ main.jpg);
    background-size: cover ;
  }
  .tag_line_box{
    font-size: 39px;
  }
  
  .boxes_container{
    height: 80%;
  }
  .button_of_video{
    margin-top: 25%;
    height: 40px;
    width: 50%;
    background-color: skyblue;
  }
  .second_box_containre{
    display: block;
    align-items: end;
    width: 29.5%;
    height: 26%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .boxes{
    height: 33%;
    width: 100%;
  }
  /* container3 starts from here  */
  .container3 {
    display: block;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .container3_box1, .container3_box2,
   .container3_box3 {
    width: 100%;
    height: 31%;  
   }
   .cont3box{
     font-size: 21px;     
    }
    .three_lines_menu_container{
      height: 100%;
      width: 11%;
    }
    .three_lines_menu_button{
      display: block;
      height: 42%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(assets/icons/icons8-menu.gif);
      background-position: center;
      background-size: contain;
    }
   .second{
    height: 100%;
    margin-top: 3%;
    padding: 0px;
   }
  .smart_light_background_banner{
    width: 100%;  
  }
  .all_products{
    display: none;
  }
  .products{
    display: flex;
    flex-direction: column;
  }
  .product_box, .product_box2{
    display: flex;
    flex-direction: column;
    width: 100%;    
  }
  .product1{
    width: 40%;
    height: 100%;
  }
  









































}



